.page {
    width: 100vw;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: white;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    box-shadow: 2px 2px 2px lightblue;
}